<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @author.birth_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @author.city %>
</p>

<p>
  <strong>Books number:</strong>
  <%= @author.books_number.nil? ? "0":@author.books_number %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
