<!DOCTYPE html>
<head>
  <title>TestBookApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<h2>TestBookApp</h2>
<p><%= link_to "Home", root_path %> | <%= link_to "Books", books_path %> | <%= link_to "Authors", authors_path %> | <%= link_to "Bookings", borrowers_path %></p><br>

<%= yield %>
</body>
</html>